* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.settings {
  max-width: 1600px;
  margin: 0 auto;

}
body{
  background-color: #FFFBF6;
  letter-spacing: 1px;
}
.hero-section{
  background-color: #292728;
  
}
.main-container{
  border: 1px solid black;
}
.nav-link{
  font-family: 'Switzer',sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color:#FFFBF6;
}
.btn{
  background-color: #FFFBF6;
}
.btn:hover{
  background-color: #292728;
  border-color: #FFFBF6;
  color: #FFFBF6;
  transition: .2s ease-in;
}
.nav-link:hover{
  color: #6e6e6e;
  transition: .2s ease-in;
}
.social-icons{
  font-size: 20px;
  color: #FFFBF6;
}
.social-icons:hover{
  color: #6e6e6e;
  transition: .2s ease-in;
}
.aboutus-section{
  background-color: #fffbf6;

}
.aboutus-headline{
  font-family: 'Outfit',sans-serif;
  color: #4F5B4E;
  font-weight: 600;
} 
.aboutus-sub-heading{
  font-family: 'Britney Regular',sans-serif;
  color: #4F5B4E;
  font-size: 1.5em;
  font-weight: 600;
}
.aboutus-para{
  font-family: 'Switzer',sans-serif;
  font-size: 18px;
  color: #7E8A7E;
  font-weight: 400;
}
.whatwedo-section{
  background-color: #4F5B4E;
 
}
.whatwedo-headline{
  font-family: 'Outfit',sans-serif;
  font-weight: 600;
  color: #FFFBF6;
}
.sub-col:hover{
  box-shadow: #7E8A7E 0px 10px 10px -10px;
  transition: .2s ease-in;
  transform: scale(1.025);

}
.service-headline{
  font-family: 'Outfit',sans-serif;
  font-weight: 500;
  color: #FFFBF6;
}
.service-subtext{
  font-family: 'Switzer',sans-serif;
  font-weight: 300;
  color: #FFFBF6;
}
.service-icon{
  color: #7E8A7E;
}
.feature-work-section{
  background-color: #4F5B4E;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.feature-work-headline{
  font-family: 'Outfit',sans-serif;
  font-weight: 600;
  color: #FFFBF6;
}
.project-name{
  font-family: 'Outfit',sans-serif;
  font-weight: 500;
  color: #FFFBF6;
}
.arrow-right{
  color: #A09E9F;
}
.work-img:hover{
    transform: scale(1.025);
    transition: .2s ease-in;
  }
  .howwework-section{
    background-color:#FFFBF6;
  }

  .howework-col:hover{
    transform: scale(1.025);
    transition: .2s ease-in;
    box-shadow: #7E8A7E 0px 10px 10px -10px;
  }
  .howwework-headline{
    font-family: 'Outfit',sans-serif;
    font-weight: 600;
    color: #4F5B4E;
  }
  .arrow-down{
    color: #7E8A7E;
  }
  .howwework-subheadline{
    font-family: 'Outfit',sans-serif;
    font-weight: 500;
    color: #4F5B4E;
  }
  .howwework-description{
    font-family: 'Switzer',sans-serif;
    font-weight: 300;
    color: #7E8A7E;
  }
  .footer-section{
    background-color: #292728;
  }
  .footer-icons{
    font-size: 20px;
    color: #FFFBF6;
  }
  .footer-list-link{
    color: #FFFBF6;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Switzer',sans-serif;
  }
  .footer-list-link:hover{
      color: #6e6e6e;
      text-decoration: underline;
  }
  .copyright-text,.copyright-link{
    font-family: 'Switzer',sans-serif;
    color: #FFFBF6;
    font-size: 14px;
  }
  .copyright-link:hover{
    color: #6e6e6e;
  }
  @media only screen and (max-width:320px){
    .aboutus-sub-heading{
      font-size: 18px;
    }
    .footer-list-link{
      font-size: 10px;
    }
  }
  @media only screen and (min-width:321px) and (max-width:768px) {
    .aboutus-sub-heading{
      font-size: 16px;
    }
    .aboutus-para{
      font-size: 15px;
    }
    .service-headline,.howwework-subheadline  {
      font-size: 18px;
    }
    .service-subtext,.howwework-description{
      font-size: 15px;
      font-weight: 300;
    }
    .footer-icons{
      font-size: 12px;
    }
    .footer-list-link{
      font-size: 12px;
    }
    .copyright-text,.copyright-link{
      font-size: 12px;
      text-align: center;
    }
    .nav-link{
      font-size: 14px;
    }
  }
  @media only screen and (min-width:769px){

  }