* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.settings {
  max-width: 1600px;
  margin: 0 auto;
}
body {
  background-color: #fffbf6;
  letter-spacing: 1px;
}
.hero-section {
  background-color: #292728;
}
.main-container {
  border: 1px solid black;
}
.nav-link {
  font-family: "Switzer", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #fffbf6;
}
.btn {
  background-color: #fffbf6;
}
.btn:hover {
  background-color: #292728;
  border-color: #fffbf6;
  color: #fffbf6;
  transition: 0.2s ease-in;
}
.nav-link:hover {
  color: #6e6e6e;
  transition: 0.2s ease-in;
}
.dropdown-item{
color: #4f5b4e;
}
.social-icons {
  font-size: 20px;
  color: #fffbf6;
}
.social-icons:hover {
  color: #6e6e6e;
  transition: 0.2s ease-in;
}
.main-heading{
  font-family: 'Switzer','sans-serif';
  color: #4f5b4e;
  font-weight: 600;
  /* text-transform: uppercase; */
}
.aboutus-section {
  background-color: #fffbf6;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 80' width='80' height='80'%3E%3Cg fill='%234f5b4e' fill-opacity='0.04'%3E%3Cpath d='M0 0h80v80H0V0zm20 20v40h40V20H20zm20 35a15 15 0 1 1 0-30 15 15 0 0 1 0 30z' opacity='.5'%3E%3C/path%3E%3Cpath d='M15 15h50l-5 5H20v40l-5 5V15zm0 50h50V15L80 0v80H0l15-15zm32.07-32.07l3.54-3.54A15 15 0 0 1 29.4 50.6l3.53-3.53a10 10 0 1 0 14.14-14.14zM32.93 47.07a10 10 0 1 1 14.14-14.14L32.93 47.07z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}
.aboutus-headline {
  font-family: "Outfit", sans-serif;
  color: #4f5b4e;
  font-weight: 600;
}
.aboutus-sub-heading {
  font-family: "Britney Regular", sans-serif;
  color: #4f5b4e;
  font-size: 1.5em;
  font-weight: 400;
  text-transform: lowercase;
}
.aboutus-para {
  font-family: "Switzer", sans-serif;
  font-size: 18px;
  color: #7e8a7e;
  font-weight: 400;
}
.logo-wall-section{
  background-color: #292728;
  /* height: 500px; */
}
.logo-wall-box{
  background-color: #292728;
background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23fffbf6' fill-opacity='0.21'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.logo-col{
  padding: 0 15px;
}
.client-logo-img{
  height: 200px;
  width: 200px;
  border-radius: 100%;
}
.whatwedo-section {
  background-color: #4f5b4e;
background-image: url("data:image/svg+xml,%3Csvg width='40' height='1' viewBox='0 0 40 1' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h20v1H0z' fill='%23fffbf6' fill-opacity='0.04' fill-rule='evenodd'/%3E%3C/svg%3E");
}
.whatwedo-headline {
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  color: #fffbf6;
}
.sub-col:hover {
  box-shadow: #7e8a7e 0px 10px 10px -10px;
  transition: 0.2s ease-in;
  transform: scale(1.025);
}
.service-headline {
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  color: #fffbf6;
}
.service-subtext {
  font-family: "Switzer", sans-serif;
  font-weight: 300;
  color: #fffbf6;
}
.service-icon {
  color: #7e8a7e;
}
.feature-work-section {
  background-color: #4f5b4e;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
background-image: url("data:image/svg+xml,%3Csvg width='40' height='1' viewBox='0 0 40 1' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h20v1H0z' fill='%23fffbf6' fill-opacity='0.04' fill-rule='evenodd'/%3E%3C/svg%3E");
}
.feature-work-headline {
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  color: #fffbf6;
}
.project-name {
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  color: #fffbf6;
}
.arrow-right {
  color: #a09e9f;
}
.work-img:hover {
  transform: scale(1.025);
  transition: 0.2s ease-in;
}
.howwework-section {
  background-color: #fffbf6;
}

.howework-col:hover {
  transform: scale(1.025);
  transition: 0.2s ease-in;
  box-shadow: #7e8a7e 0px 10px 10px -10px;
}
.howwework-headline {
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  color: #4f5b4e;
}
.arrow-down {
  color: #7e8a7e;
}
.howwework-subheadline {
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  color: #4f5b4e;
}
.howwework-description {
  font-family: "Switzer", sans-serif;
  font-weight: 300;
  color: #7e8a7e;
}
.footer-section {
  background-color: #292728;
}
.footer-icons {
  font-size: 18px;
  color: #fffbf6;
}
.footer-list-link {
  color: #fffbf6;
  text-decoration: none;
  font-size: 16px;
  font-family: "Switzer", sans-serif;
}
.footer-list-link:hover {
  color: #6e6e6e;
  text-decoration: underline;
}
.copyright-text,
.copyright-link {
  font-family: "Switzer", sans-serif;
  color: #fffbf6;
  font-size: 13px;
}
.copyright-link:hover {
  color: #6e6e6e;
}
@media only screen and (max-width: 320px) {
  .aboutus-sub-heading {
    font-size: 18px;
  }
  .footer-list-link {
    font-size: 10px;
  }
  .client-logo-img{
height: 100px;
width: 100px;
}
}
@media only screen and (min-width: 321px) and (max-width: 768px) {
  .aboutus-sub-heading {
    font-size: 16px;
  }
  .aboutus-para {
    font-size: 15px;
  }
  .service-headline,
  .howwework-subheadline {
    font-size: 18px;
  }
  .service-subtext,
  .howwework-description {
    font-size: 15px;
    font-weight: 300;
  }
  .footer-icons {
    font-size: 12px;
  }
  .footer-list-link {
    font-size: 12px;
  }
  .copyright-text,
  .copyright-link {
    font-size: 12px;
    text-align: center;
  }
  .nav-link {
    font-size: 14px;
  }
  .client-logo-img{
  height: 100px;
  width: 100px;
  /* border-radius: 100%; */
}
}
@media only screen and (min-width: 769px) {
}
